body {
  /* border: 20px solid yellow; */
  margin: 50px;
  padding: 30px;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 9px;

  /* background-color: black; */
  border-radius: 12px;
  box-sizing: border-box;
}
.login-box {
  max-width: auto;
  width: auto;
  background: lightgray;
  border-radius: 20px;
  padding: auto;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}
.button {
  color: yellowgreen;
  justify-items: end;
}
.hobby {
  padding-top: 66px;
}
.submit {
  color: green;
}
.reset {
  color: red;
}
